@font-face {
	font-family: "PruebaFont";
	src: url(../fonts/Tellural_Alt.ttf) format("truetype");
}

body {
	font-family: 1em/1.4  Cambria,Georgia,sans-serif;
	background-image: url("../images/background.jpg");
	font-size: 100%;
	color: white;
	z-index: -10;
}

#top,#bottom {
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	-border: 1px solid black;
	margin: 20px auto;
	width: 980px;
	position: relative;
}

#center {
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	-border: 1px solid black;
	margin: -15px auto;
	width: 980px;
	position: relative;
}

#bottom {
	background-image: url(../images/pie.png);
	height: 190px;
	border: none;
}

#top {
	background-image: url(../images/cabecera.png);
	background-repeat: no-repeat;
	height: 138px;
	border: none;
}

#center { -
	-background-color: white;
}

#bottomInfo {
	color: white;
	margin: 0 auto;
	max-width: 700px;
	position: relative;
	text-align: right;
	top: 35%;
}

#login {
	color: white;
	position: relative;
	text-align: right;
	top: 35%;
}

#login ul li a {
	color: white;
	text-decoration: none;
}

#secondStep {
	display: none;
}

.navigation,#login,#bottomInfo,.indexWhises,.titleIndexWhises,.titleWishes,.titleInstructions,.nameIndexWishes,.imageIndexWhises,.bodyIndexWhises,.socialIndexWhises
	{
	padding: 10px 20px;
}

.indexWhises {
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border: 1px solid black;
	margin: 20px;
	background-color: #CEE7F0;
}

.titleIndexWhises,.titleWishes,.titleInstructions {
	font-size: 25px;
	color: blue;
}

div.indexPaging {
	margin: -10px auto 10px auto;
	width: 300px;
	position: relative;
	--border: 1px solid black;
	background-color: #EEEEEE;
	text-align: center;
}

.indexPaging span,.indexPaging a {
	margin: 0px 5px;
	text-decoration: none;
}

table.indexPaging {
	width: 100%;
	text-align: center;
	border: none;
}

table.indexPaging tr td {
	cursor: pointer;
}

td {
	vertical-align: top;
	color: black;
}

.tablecomentarios {
	
}

.tablecomentarios th {
	border-bottom: 2px solid #000;
	background-color: #BED7E5;
	height: 25px;
}

.tablecomentarios td {
	vertical-align: top;
	color: black;
	border-bottom: 2px solid #BED7E5;
}

.nameIndexWishes {
	text-align: center;
}

.imageIndexWhises {
	
}

.bodyIndexWhises {
	
}

.socialIndexWhises {
	text-align: center;
}

.makeWhis table {
	margin: 20px;
}

.exampleWhises {
	margin: 20px auto;
	width: 900px;
	min-height: 160px;
}

.exampleWhis {
	text-align: center;
	padding: 5px;
}

.descWhis {
	text-align: center;
	padding: 4px 0px;
}

.actionWhis {
	padding: 2px;
	text-align: right;
}

.tip {
	font-size: 11px;
}

.rightButton {
	bottom: 20px;
	position: absolute;
	right: 20px;
}

hr {
	position: relative;
	margin: 30px auto;
	width: 980px;
}

textarea {
	display: block;
	width: 330px;
	height: 100px;
	margin: 0px auto;
	position: relative;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	height: 150px;
	resize:none;
}

#backgroundDivPopUp {
	background-color: #111111;
	height: 100%;
	left: 0;
	opacity: 0.65;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9001;
}

.centerPopUpDiv {
	-moz-border-radius: 18px 18px 18px 18px;
	border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	background-color: #D7EBF7;
	margin: 220px auto;
	width: 400px;
	padding: 20px;
	height: 235px;
	margin-left: -110px;
}

#loginPopUp,#responsePopUp {
	margin: 20px 25%;
	position: fixed;
	top: 0;
	z-index: 9002;
}

#responseMsg {
	text-align: center;
	font-size: 20px;
	font-weigth: bolder;
	margin: 20px auto;
}

.bottomLinks {
	margin: 0px 20px;
	font-size: 0.8em;
}

.loginLinks {
	margin: 0px 40px;
}

.loginLinks a,.bottomLinks a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.loginLinks a:hover,.bottomLinks a:hover {
	text-decoration: underline;
}

//
NEWS CSS   25/05/2012 ul {
	list-style-type: none;
	margin-right: 1px;
	padding-top: 6px;
}

.li_cab {
	content: " ";
	display: inline-block;
	height: 14px;
	margin: 0em 4em 0em 0em;
}

.li_cab izq {
	float: right;
	height: 14px;
	margin-top: 9px;
	width: 1px;
}

.link,.linkBlack, .linkBlue, .linkCerrar {
	cursor: pointer;
	cursor: hand;
	text-decoration: none;
}

.linkBlue,.linkCerrar{
	color: #3D7DBB;
}

.linkCerrar{
	margin: 0 0 0 89%;
}
.link {
	color: white;
}

.pedir_deseo {
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	background-image: url("../images/fondo_pedir_deseo.png");
	background-repeat: no-repeat;
	margin: 25px auto;
	position: relative;
	max-width: 980px;
	height: 413px;
}

.caja_deseo {
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	margin: -13.5% 3% 0 0;
	float: right;
	width: 400px;
	height: 270px;
	position: relative;
	background-color: #5d646e;
}

.pie_social {
	float: right;
	margin: 9% 44% 0 0;
}

.pie_menu {
	color: white;
	margin: 0 auto;
	max-width: 496px;
	position: relative;
	text-align: right;
	top: 35%;
}

.li_pie {
	content: " ";
	display: inline-block;
	font-size: 0.85em;
	height: 14px;
	margin: 0 3% 0 0;
}

.titulo_deseo {
	color: white;
	font-size: 1.8em;
	margin: 3% 0 0 20%;
	width: 205px;
}

.cuerpo_deseo {
	margin: 3% 0 0;
}

.enviar_deseo {
	float: right;
	margin: 17% -42.6% 0 0;
	width: 400px;
	height: 47px;
	cursor: pointer;
}

.tip_deseo {
	font-size: 0.9em;
	margin: 4% 0 0 -1%;
	width: 370px;
}

.continuar_deseo {
	font-size: 1.4em;
	margin: -12% 34% 0 0;
	cursor: pointer;
}

.continuar_paso_dos_deseo {
	font-size: 1.4em;
	width: 100%;
	margin: -12% 34% 0 0;
	cursos: pointer;
}

.enviar_fin_deseo {
	font-size: 1.2em;
	padding: 0 14% 0 0;
}

.atras_deseo {
	font-size: 1.2em;
	padding: 0 29% 0 0;
	cursor: pointer;
}

.instructions {
	-moz-border-radius: 18px 18px 18px 18px;
	border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	margin: -1% 0 3% 0;
	background-color: white;
	height: 413px;
}

.title_instructions {
	color: #3d7dbb;
	float: right;
	font-size: 1.85em;
	margin: 2% 39% 0 0;
	width: 235px;
}

.content_instructions {
	float: right;
	width: 100%;
}

.pasos_instructions {
	margin: 1.5% 0 0;
	padding: 0 0 0 2%;
}

.paso_instructions {
	content: " ";
	display: inline-block;
	height: 252px;
	margin: 0 0 0 3%;
	width: 30%;
	color: #5D646E;
}

.paso_uno {
	background-image: url(../images/paso_uno.png);
	background-repeat: no-repeat;
}

.paso_dos {
	background-image: url(../images/paso_dos.png);
	background-repeat: no-repeat;
}

.paso_tres {
	background-image: url(../images/paso_tres.png);
	background-repeat: no-repeat;
}

.image_instructions {
	width: 252px;
}

.pie_instructions {
	font-size: 0.85em;
	height: 90px;
	margin: 5% 0 0 -15%;
	text-align: center;
	width: 325px;
}

.titulo_pie_instructions {
	font-size: 1.3em;
	color: #3d7dbb;
	margin: 0 0 2% 0;
}

.lista_deseos {
	-moz-border-radius: 18px 18px 18px 18px;
	border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	background-color: white;
	padding: 0 0 1% 0;
	margin: 1.5% 0 1.5% 0;
}

.lista_deseo {
	background-color: #D7EBF7;
	border: 1px solid #CDCDCD;
	-moz-border-radius: 18px 18px 18px 18px; border-radius : 18px 18px 18px
	18px; -webkit-border-radius : 18px 18px 18px 18px;
	background-repeat: no-repeat;
	height: 286px;
	width: 904px;
	margin: 0 0 1% 0;
	border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
}

.formulario_comentarios {
	background-color: #D7EBF7;
	border: 1px solid #CDCDCD;
	position: absolute;
	margin-top: 40px;
	min-width: 100%;
	opacity: 0.9;
	border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px; 
	border-radius : 18px 18px 18px;
	padding: 10px;
	z-index: 1;
	left: -8px;
}

.equis_cerrar
{
	cursor: pointer;
	color: #3D7DBB;
	float: right;
}

.navigacion_nivel_dos {
	color: #5D646E;
	height: 25px;
	padding: 2% 0% 0 2%;
	font-size: 1.3em;
}

.navigacion_nivel_uno {
	float: left;
	color: #3d7dbb;
}

.lista_deseo_imagen_marco {
	background-image: url(../images/marco_deseos.png);
	background-repeat: no-repeat;
	height: 189px;
	width: 229px;
	margin: 2% 0 0 2%;
	float: left;
}

.lista_deseo_imagen {
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	height: 177px;
	margin: 3% 0 0 3%;
	width: 216px;
}

.lista_deseo_nombre {
	float: left;
	margin: 24% 0 0 -20%;
	color: #3D7DBB;
	font-size: 1.3em;
}

.lista_deseo_titulo {
	color: #3D7DBB;
	float: left;
	font-size: 1.5em;
	margin: 2% 0 0 3%;
	text-decoration: none;
}

.lista_deseo_descripcion {
	color: #5D646E;
	float: left;
	height: 100px;
	margin: 1% 0 0 3.4%;
	width: 600px;
}

.lista_deseo_social {
	color: #3D7DBB;
	float: left;
	margin: 4% 0 0 3.4%;
	width: 600px;
}

.lista_deseo_cat {
	color: #3D7DBB;
	font-size: 0.85em;
	width: 150px;
}

.lista_deseo_loc {
	color: #5D646E;
	font-size: 0.85em;
	width: 150px;
}

.lista_deseo_twitter {
	float: left;
	width: 150px;
	margin: -8.3% 0 0 25%;
}

.lista_deseo_fb {
	float: left;
	margin: -8.3% 0 0 45%;
	width: 85px;
}

.lista_deseo_votos {
	float: left;
	margin: -10.3% 0 0 61%;
	width: 85px;
}

.imagen_votos {
	text-decoration: none;
	margin: 0 0 0 0;

}

.texto_votos {
	text-decoration: none;
	color:  #3D7DBB;
}

.lista_deseo_comment {
	color: #3D7DBB;
	width: 150px;
	font-size: 0.9em;
	margin: 0 0 0 -1.5%;
}

.lista_deseo_estrellas {
	float: right;
	margin: -20% 0 0 87%;
}

.errorValidacionLogin {
	border: 2px solid Red;
}

.okValidacionLogin {
	border: 2px solid Green;
}

.texto_privacy {
	-moz-border-radius: 18px 18px 18px 18px;
	border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	background-color: white;
	padding: 4% 4% 4% 4%;
	color: #5D646E;
	font-size: 0.85em;
	text-align: justify;
}

.texto_legal {
	-moz-border-radius: 18px 18px 18px 18px;
	border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	background-color: white;
	padding: 4% 4% 4% 4%;
	color: #5D646E;
	font-size: 0.85em;
	text-align: justify;
	height: 600px;
}
.one_half {
	width: 45%;
}
.one_half_last {
	width: 45%;
	margin: -60% 0 0 55%;
}
.img_conceder{
	margin: -2% 0 0 18%;
}
.titulo_form_deseo {
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	width: 281px;
	margin-right: 15px;
	height: 21px;
}

.titulo_label_form_deseo {
	font-size: 1em;
	color: white;
	margin: 6% 3% 3% 6%;
}

.cat_form_deseo {
	margin: 6% 7% 0 0;
}

.cat_label_form_deseo {
	font-size: 1em;
	color: white; -
	-margin: 6% 7% 0 0;
}

.loc_form_deseo {
	margin: 6% 7% 0 0;
}

.loc_label_form_deseo {
	font-size: 1em;
	color: white; -
	-margin: 6% 7% 0 0;
}

.arrow_box {
	padding: 5px;
	background: #E8E8E8;
	border: 2px solid #3D7DBB;
	-moz-border-radius: 18px 18px 18px 18px;
	border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	width: 600px;
	color: #5D646E;
	margin: 2% 0 0 -10.7%;
    position: absolute;
    z-index: 100;
}

.arrow_box:after,.arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-bottom-color: #E8E8E8;
	border-width: 20px;
	left: 20%;
	margin-left: -30px;
}

.arrow_box:before {
	border-bottom-color: #3D7DBB;
	border-width: 23px;
	left: 20%;
	margin-left: -33px;
}

.nombre_comentario {
	color:			#3D7DBB;
	font-size: 		1.1em;
}

.texto_comentario {
	color:	#5D646E;
	margin: -11% 0 0 100px;
}

.fecha_comentario {
	color:#3D7DBB;
	font-size: 0.85em;
}

.imagen_comentario {
    border-radius: 8px 8px 8px 8px;
    height: 60px;
    margin: 3% 0 0 3%;
    width: 70px;
}

.example-commentheading:after {
   -moz-border-bottom-colors: none;
   -moz-border-image: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   border-color: transparent transparent transparent #3D7DBB;
   border-style: solid;
   border-width: 4px;
   content: "";
   display: block;
   left: -2px;
   position: absolute;
   top: 11px;
   width: 0;
}
.example-commentheading:before {
   background: none repeat scroll 0 0 #3D7DBB;
   border-radius: 3px 3px 3px 3px;
   content: "";
   height: 10px;
   left: -8px;
   position: absolute;
   top: 5px;
   width: 15px;
}
.example-commentheading {
   color: #3D7DBB;
   padding: 0;
   position: relative;
   left: 10px;
   width: 115px;
}

.anadir_texto_comentario {
	height: 60px;
    margin: 1% 0 1% 3%;
    width: 565px;
}

.anadir_comentario {
	height: 60px;
    margin: 1% 0 1% 3%;
    width: 565px;
    display: none;
}

.anadir_comentario_texto {
	color: white;
    cursor: pointer;
    font-size: 1.4em;
    margin: -8% 0 0 36%;
    z-index: 100;
    padding: 0% 0% 3% 0%;
}


.deseo_detalle {
	background-color: #D7EBF7;
	border: 1px solid #CDCDCD;
	-moz-border-radius: 18px 18px 18px 18px; 
	border-radius : 18px 18px 18px 18px; 
	-webkit-border-radius : 18px 18px 18px 18px
	background-repeat: no-repeat;
	height: 286px;
	width: 904px;
	margin: 1% 0 1% 3%;
}

 #custom-tweet-button a {
	display: block;
	padding: 2px 5px 2px 20px;
	background: url('http://a4.twimg.com/images/favicon.ico') 1px center no-repeat;
	padding: 2px 5px 2px 20px;
    text-decoration: none;
    color: #3D7DBB;
}

.btn_login, .btn_register {
	color: white;
	cursor: pointer;
	font-size: 1.4em;
}

.btn_login{
	margin: -16% 22% 0 0;
}

.btn_register{
	margin: -13% 0% 0 56%;
}

.ttl_login, .ttl_register{
	color: #3D7DBB;
}

.ttl_login{
	margin: 0 0 0 22%;
}

.ttl_register{
	margin: 0 0 2% 36%;
}