<table>

	<g:each in="${usersInstanceList}" status="i" var="userInstance">
		<g:if test="i % 3 == 1">
			<tr>
				<td>${ userInstance.nombre }</td>
		</g:if>
		<g:elseif test="i%3 == 0">
			<td>${ userInstance.nombre }</td>
			</tr>
		</g:elseif>
		<g:else>
			<td>${ userInstance.nombre }</td>
		</g:else>
	</g:each>
</table>